.root{
    -fx-background-image:url("../images/lab.jpg");
    -fx-alignment:center;
    -fx-padding:20,20,20,20;
}

.button{
    -fx-pref-width:100px;
    -fx-pref-height:50px;
    -fx-background-color:
                #0D7BA7,
                rgba(0,0,0,0.05),
                    linear-gradient(#7ebcea, #2f4b8f),
                    linear-gradient(#426ab7, #263e75),
                    linear-gradient(#395cab, #223768);
            -fx-background-insets: 0,5 5 5 5,4,10,10; /*Remplacer le 4 par un 9 pour enlever le double effet*/
            -fx-background-radius: 50;
            -fx-padding: 10 20 10 20;
            -fx-font-family: "Helvetica";
            -fx-font-size: 15px;
            -fx-text-fill: #311c09;
            -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.tofill{
    -fx-pref-width:400px;
    -fx-pref-height:50px;
    -fx-font-size:15px;
    -fx-background-radius: 50;
    -fx-padding: 10 20 10 20;
}

.deb{
    -fx-font-weight:bold;
    -fx-font-style: italic;
    -fx-text-fill: white;
    -fx-font-family:"Palatino Linotype", "Book Antiqua", Palatino,serif;
    -fx-font-size:15px;
}

.end{
    -fx-text-fill: white;
    -fx-font-family:"Palatino Linotype", "Book Antiqua", Palatino,sans-serif;
    -fx-font-size:15px;
}

.align{
    -fx-alignment:center;
}

.mes{
    -fx-alignment:center;
    -fx-border-color:black;
}

.l{
    -fx-font-size:50px;
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-padding: 40 40 40 40;
    -fx-underline:true;
}
 .la{
    -fx-font-size:30px;
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-padding: 40 40 40 40;
 }
