.dialog-pane{
   -fx-background-image:url("lab.jpg");
}

.dialog-pane .label{
    -fx-text-fill:white;
    -fx-font-family:"URW Chancery L, cursive";
    -fx-font-size: 12px;
    -fx-font-weight:bold;
    -fx-text-alignment:center;
}

.dialog-pane .button-bar .container .button{
        -fx-background-color:
            #0D7BA7,
            rgba(0,0,0,0.05),
                linear-gradient(#7ebcea, #2f4b8f),
                linear-gradient(#426ab7, #263e75),
                linear-gradient(#395cab, #223768);
        -fx-background-insets: 0,5 5 5 5,4,10,10; /*Remplacer le 4 par un 9 pour enlever le double effet*/
        -fx-background-radius: 50;
        -fx-padding: 15 50 15 50;
        -fx-font-family: "Helvetica";
        -fx-font-size: 10px;
        -fx-text-fill: #311c09;
        -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);

}

.button .Text{
        /*-fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);*/
        /*-fx-font-weight:800;*/
        /*-fx-font-family: "Comic Sans MS, Comic Sans, cursive";*/
}

.button{
    -fx-pref-width:140px;
    -fx-pref-height:50px;
    -fx-alignement:center;
}