.root{
-fx-background-image:url("Dark-Background.jpg");
}



.vbox{
-fx-alignment:center;
-fx-spacing:20;
}

.hbox{
-fx-padding:37,20,37,20;
-fx-spacing:147;
}

#v1{
-fx-alignment:top-left;
-fx-spacing:47;
}

#v2{
-fx-alignment:top-right;
}




.button, .radio-button, .label{
-fx-text-fill: white;
-fx-font-family:"Palatino Linotype", "Book Antiqua", Palatino,serif;
-fx-font-size:20;
-fx-font-weight:bold;
-fx-background-color:transparent;
}

.radio-button{
-fx-font-size:15;
}

.label{
-fx-alignment:top-center;
}



.button:hover{
-fx-effect:dropshadow(gaussian,black,10,0.3,4,5);
}

